.emote-upload-form {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 

    height: 100%;
    
}


.preview-box {
    grid-area: 1 / 1 / 4 / 2; 
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 20%;
    padding-right: 5%;
    font-size: 3rem;
}

/* .preview-box p {
    text-align: center;
    font-size: 30px;
} */


.form-inputs {
    grid-area: 1 / 2 / 4 / 3;
    width: 50%;
    height: 75%;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin-top: 5%; 
    margin-right:5%;
    margin-left: 20%;
    border-radius: 25px;
    color: #444;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}


.form-inputs:hover {
    width: 50%;
    height: 75%;
    background: #283c44;

}


.upButton {
    margin-top: 5%;
    letter-spacing : 2px ;
    border-radius : 5px ;
    border : solid 2px white;
    background-color: #c1cbc0;
    color: #485359;
}

.upButton:hover {
    background-color: #738c8d;
    color:white;
}

.form-inputs input, textarea{
    font-family: inherit;
    width: 75%;
    border: 0;
    border-bottom: 2px solid #c1cbc0;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    
}

/* .form-input input[type=text], textarea {
    
} */
/* 
.form-input input[type=file]::file-selector-button:hover {
    background: #283c44;
} */
/* 
.form-input input[type=input] {
    color: #444;
    background-color: #779895;
    border-radius: 10px;
    border: 2px solid white;
} */