.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.notifications {
  grid-area: 1 / 1 / 3 / 3;
  background-color: #b1d182;
  border: 2px solid #688f4e;
}

.sprite {
  background-color: #aac6b0;
}

.navigation {
  grid-area: 3 / 1 / 6 / 3;
  background-color: #608070;
}

.console {
  grid-area: 1 / 3 / 6 / 6; 
  background-color: #708848;
}

.console-box { 
  grid-area: 2 / 3 / 5 / 6; 
  background-color: #a3ba9e;
  border:2px solid #aac6b0;
}

.nav-buttons {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Gap between buttons */
}

.button {
  border: 2px solid #688f4e;
  background-color: #b1d182;
}